.currency-converter {
  background: #F6F6F5;
  padding: 27px 25px 51px 21px;
  box-shadow: 0 0 9999px 9999px rgba(0,0,0, 0.7);
}

.currency-converter__title {
  margin: 0;
  @include block-title;
  color: #956944;
}

.currency-converter__selection-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 73px;
}

.currency-converter__selection-block {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  @media (min-width: $desktopMedia) {
    flex-direction: row;
  }

  &:not(:first-child) {
    margin-top: 15px;
  }

  select, input {
    position: relative;
    width: 100%;
    border: 2px solid #434F4D;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 7px 0 7px 10px;
    font-family: $fontFamily;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1;
    color: #434E4D;
    outline: none;

    @media (min-width: $desktopMedia) {
      padding: 14px 0 14px 38px;
      font-size: 30px;
      width: 46%;
    }
  }

  select {
    margin-top: 10px;

    @media (min-width: $desktopMedia) {
      margin-top: 0;
    }
  }

  option {
    width: 100%;
  }
}
