.main {
  position: relative;
  padding: 27px 25px 51px 21px;
  margin-top: 95px;
  background: #956944;
  border-radius: 10px;
  box-sizing: border-box;
}

.title {
  font-family: var(--font-family);
  font-size: 30px;
  font-weight: normal;
  line-height: 1.1;
  position: relative;
  z-index: 2;
  margin: 0;
  color: #F6F6F5;
}

.list {
  position: relative;
  z-index: 2;
  margin: 40px 0 0;
  padding: 0;
  list-style: none;
}

.item {
  font-weight: normal;
  font-size: 22px;
  line-height: 1.1;
  color: #F6F6F5;
}

.button {
  position: relative;
  z-index: 2;
  display: inline-block;
  margin-top: 34px;
  padding: 10px 10px;
  cursor: pointer;
  background: #F6F6F5;
  border-radius: 50px;
  font-weight: normal;
  font-size: 22px;
  line-height: 1.1;
  color: #817D6C;
  box-sizing: border-box;
}

.business {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 60%;
  max-height: 800px;
}

@media (min-width: 854px) {
  .title {
    font-size: 45px;
  }

  .item {
    font-size: 30px;
  }

  .button {
    font-size: 30px;
    padding: 11px 59px;
  }
}
