.conversion-history {
  position: relative;
  padding: 27px 25px 51px 21px;
  margin-top: 95px;
  background: #956944;
  border-radius: 10px;

  * {
    position: relative;
    z-index: 2;
  }
}

.conversion-history__title {
  margin: 0;
  @include block-title;
  color: #F6F6F5;
}

.conversion-history__list {
  margin: 40px 0 0;
  padding: 0;
  list-style: none;
}

.conversion-history__item {
  font-weight: normal;
  font-size: 22px;
  line-height: 1.1;
  color: #F6F6F5;

  @media (min-width: $desktopMedia) {
    font-size: 30px;
  }
}

.conversion-history__button {
  display: inline-block;
  margin-top: 34px;
  padding: 11px 15px;
  cursor: pointer;
  background: #F6F6F5;
  border-radius: 50px;
  font-weight: normal;
  font-size: 22px;
  line-height: 1.1;
  color: #817D6C;

  @media (min-width: $desktopMedia) {
    font-size: 30px;
    padding: 11px 59px;
  }
}

.conversion-history__business {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 60%;
  max-height: 800px;
}
